functions_nested_loops/main.h
function_pointers/test_calc
function_pointers/calculator_test
*.out
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
./vscode/
*.json
CMakeLists.txt
.vscode/settings.json
