functions_nested_loops/main.h
function_pointers/test_calc
function_pointers/calculator_test
*.out
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
./vscode/
*.json
CMakeLists.txt
.vscode/settings.json
singly_linked_lists/test
singly_linked_lists/test.exe
.gitignore
.vscode/tasks.json
.gitignore
*.o
singly_linked_lists/school
.vscode/settings.json
